@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="~/css/indexStyles.css" />
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI JavaScript -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div calss="container">
      <div>
            <div class="gallery">
                <a target="_blank" href="~/images/party1.jpg">
                    <img src="~/images/party1.jpg" alt="Northern Lights" width="180" height="180">
                </a>
            </div>
            <div class="gallery">
                <a target="_blank" href="~/images/party7.jpg">
                    <img src="~/images/party7.jpg" alt="Northern Lights" width="180" height="180">
                </a>
            </div>
            <div class="gallery">
                <a target="_blank" href="~/images/party3.jpg">
                    <img src="~/images/party3.jpg" alt="Northern Lights" width="180" height="180">
                </a>
             </div>
             <div class="gallery">
                <a target="_blank" href="~/images/party4.jpg">
                    <img src="~/images/party4.jpg" alt="Northern Lights" width="180" height="180">
                </a>
             </div>
            <div class="gallery">
                <a target="_blank" href="~/images/party5.jpg">
                    <img src="~/images/party5.jpg" alt="Northern Lights" width="180" height="180">
                </a>
            </div>
             <div class="gallery">
                <a target="_blank" href="~/images/party6.jpg">
                    <img src="~/images/party6.jpg" alt="Northern Lights" width="180" height="180">
                </a>
            </div>
            <div id="welcomeHeading">
                <heading>Welcome</heading>
            </div>
    </div>
</body>
</html>
